* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex; /* Add display: flex */
  justify-content: center; /* Add justify-content: center */
  align-items: center; /* Add align-items: center */
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}
.image, .text{
  flex:1;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  height: 70px;
  width: 70px;
  background-color: transparent;
  
  order: 2;
}

.text {
  height: 70px;
  width: 70px;
  background-color: transparent;
  
  order: 1;
}

@media only screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }

  .image {
    order: 1;
    margin-bottom: 10px;
  }

  .text {
    order: 2;
    width: 100%;
  }
}
